header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;  
    
}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
 
}
.imgContainer{
    width: 100%;
    height: 70%;
    position: absolute;
    

}
.imgContainer img{
    position: absolute;
    width: 50%;
    height: 50%;
    top: 0;
    left: 50%;
    object-fit: contain;
    opacity: 0;
    animation: off 3s linear;
    animation-delay: 13s;
    animation-fill-mode: forwards;
}
.keyboard{
    transform: translate(30%,150%);
}
.sunny{
    transform: translate(250%,10%);
}

.guitar{
    transform: translate(100%,-20%);
}
.cat{
    transform: translate(180%,140%);
    
}

.universal{
   transform: translate(0,50%);
}

/* CTA */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    opacity: 0;
    animation: off 2s linear;
    animation-delay: 13s;
    animation-fill-mode: forwards;
}
@keyframes off{
   100%{
       opacity: 1;
   }
}
/* HEADER SOCIALS */
.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
    opacity: 0;
    animation: off 2s linear;
    animation-delay: 14s;
    animation-fill-mode: forwards;
}

/* the line after the social links */
.header__socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}



/* SCROLL DOWN */
.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
    opacity: 0;
    animation: off 2s linear;
    animation-delay: 14s;
    animation-fill-mode: forwards;

}


/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width:1024px) {
    header {
        height: 100vh;
    }
    .imgContainer img{
        display: none;
    }
}

/* MEDIA QUERIES (small DEVICES) */
@media screen and (max-width:600px) {
    header {
        height: 100vh;
    }

    .header__socials,
    .scroll__down {
        display: none;
    }
    .imgContainer img{
        display: none;
    }
   
   
    
   
}